@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To API and MICROSERVICES Training</h1>
    <h1 class="display-4">By Deepanshu Pasrija</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with focus on API in ASP.NET Core and Python</a>.</p>
</div>
